!include ndb_rpl_circular_2ch.cnf

[myblockchaind.1.1]
ndb-log-apply-status

[myblockchaind.2.1]
ndb-log-apply-status

[myblockchaind.1.slave]
ndb-log-apply-status

[myblockchaind.2.slave]
ndb-log-apply-status

