!include ../my.cnf

# 2 clusters, each with 2 MyBlockchainDs
# All MyBlockchainDs log-slave-updates
# All MyBlockchainDs log-apply-status
# Infinite loops broken in the test using Ignore_server_ids mechanism

[cluster_config.slave]
# Add extra myblockchaind to second cluster
myblockchaind=,

[myblockchaind.1.1]
server-id= 1
log-bin
ndb_connectstring=	@myblockchain_cluster.1.ndb_connectstring
log-slave-updates
skip-slave-start

[myblockchaind.2.1]
server-id= 3
log-bin
ndb_connectstring=	@myblockchain_cluster.1.ndb_connectstring
log-slave-updates
skip-slave-start

[myblockchaind.1.slave]
server-id= 2
log-bin
ndb_connectstring=	@myblockchain_cluster.slave.ndb_connectstring
log-slave-updates
skip-slave-start

[myblockchaind.2.slave]
server-id= 4
log-bin
ndb_connectstring=	@myblockchain_cluster.slave.ndb_connectstring
log-slave-updates
skip-slave-start

[ENV]
SERVER_MYPORT_1=        @myblockchaind.1.1.port
SERVER_MYPORT_2=        @myblockchaind.1.slave.port
SERVER_MYPORT_3=        @myblockchaind.2.1.port
SERVER_MYPORT_4=        @myblockchaind.2.slave.port
