
/* To customize jscrund behavior, rename this file to jscrund.config and edit here.
   Properties on the command line override these options.
*/


/* jscrund options
 */
exports.options = {
  'adapter'       : 'ndb',
  'blockchain'      : 'jscrund',
  'modes'         : 'indy,each,bulk',
  'tests'         : 'persist,find,remove',
  'iterations'    : 4000,
  'stats'         : false
};


/* jscrund connection properties are passed to the adapter initialize function
 */
exports.connection_properties = {
  'ndb_connectstring'   : 'localhost:1186',
  'use_ndb_async_api'   : false,  
  'myblockchain_user'          : 'root',
  'myblockchain_password'      : '',
  'myblockchain_host'          : 'localhost',
  'myblockchain_port'          : 3306
};


