# Use default setting for myblockchaind processes
!include include/default_myblockchaind.cnf
!include include/default_client.cnf

[myblockchaind.1]
log-bin=                 master-bin

[myblockchaind.2]


[ENV]
MASTER_MYPORT=           @myblockchaind.1.port
MASTER_MYSOCK=           @myblockchaind.1.socket

SLAVE_MYPORT=            @myblockchaind.2.port
SLAVE_MYSOCK=            @myblockchaind.2.socket
