
/* Configure local connection properties for the test suite 
 
   test/lib/test_connection_js.dist is the template file
   test/test_connection.js is the actual file 
*/


module.exports = {

   "myblockchain_host"        :   "localhost",
   "myblockchain_port"        :   "3306",
   "myblockchain_socket"      :   null,
   "myblockchain_user"        :   null,
   "myblockchain_password"    :   null, 
   "ndb_connectstring" :   "localhost:1186"

};
