#!/usr/bin/make -f

# Copyright (c) 2015, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

%:
	dh $@

export DH_VERBOSE=1
export CFLAGS=
export CXXFLAGS=

override_dh_auto_configure:
	@echo "RULES.$@"
	cmake . \
		-DBUILD_CONFIG=myblockchain_release \
		-DCMAKE_INSTALL_PREFIX=/usr \
		-DINSTALL_DOCDIR=share/myblockchain/docs \
		-DINSTALL_DOCREADMEDIR=share/myblockchain \
		-DINSTALL_INCLUDEDIR=include/myblockchain \
		-DINSTALL_INFODIR=share/myblockchain/docs \
		-DINSTALL_LIBDIR=lib/$(DEB_HOST_MULTIARCH) \
		-DINSTALL_MANDIR=share/man \
		-DINSTALL_MYBLOCKCHAINSHAREDIR=share/myblockchain \
		-DINSTALL_MYBLOCKCHAINTESTDIR=lib/myblockchain-test \
		-DINSTALL_PLUGINDIR=lib/myblockchain/plugin \
		-DINSTALL_SBINDIR=sbin \
		-DINSTALL_SCRIPTDIR=bin \
		-DINSTALL_SUPPORTFILESDIR=share/myblockchain \
		-DSYSCONFDIR=/etc/myblockchain \
		-DMYBLOCKCHAIN_UNIX_ADDR=/var/run/myblockchaind/myblockchaind.sock \
		-DWITH_SSL=bundled \
		-DWITH_ZLIB=system \
		-DWITH_EXTRA_CHARSETS=all \
		-DWITH_INNODB_MEMCACHED=1 \
		-DWITH_MECAB=system \
		-DDOWNLOAD_BOOST=1 \
		-DCOMPILATION_COMMENT="MyBlockchain Community Server (GPL)" \
		-DINSTALL_LAYOUT=DEB

	cat CMakeCache.txt
	touch $@

override_dh_auto_build:
	@echo "RULES.$@"
	$(MAKE) -j8 VERBOSE=1
	touch $@

override_dh_auto_test:
	@echo "RULES.$@"
	echo "No tests run because test 9: pfs_connect_attr is failing unreasonably"
	touch $@

override_dh_auto_install:

	@echo "RULES.$@"
	# complete install first
	$(MAKE) install DESTDIR=debian/tmp
	# remove all redundant files and links
	rm debian/tmp/usr/lib/*/*_r*
	rm debian/tmp/usr/lib/myblockchain-test/cmake_install.cmake
	rm debian/tmp/usr/lib/myblockchain-test/CTestTestfile.cmake
	rm debian/tmp/usr/lib/myblockchain-test/Makefile
	# add missing man pages
	install -g root -o root -m 0644 debian/extra/myblockchain_embedded.1 debian/tmp/usr/share/man/man1
	# add MyBlockchain Server configuration file my.cnf to myblockchain-common package
	install -g root -o root -m 0644 -D debian/extra/my.cnf debian/tmp/etc/myblockchain/my.cnf
	# add MyBlockchain Server debug binary and library to package
	install -g root -o root -m 0755 debian/extra/server-binary debian/tmp/usr/sbin/myblockchaind-debug
	install -g root -o root -m 0755 debian/extra/embedded-server debian/tmp/usr/lib/$(DEB_HOST_MULTIARCH)/libmyblockchaind-debug.a
	# add debug plugin libraries to package
	install -g root -o root -m 0755 -d debian/tmp/usr/lib/myblockchain/plugin/debug
	for file in debian/extra/*-plugin; do NEW=`echo $$file | cut -d- -f1`; mv $$file $$NEW.so; done
	install -g root -o root -m 0755 debian/extra/*.so debian/tmp/usr/lib/myblockchain/plugin/debug
	install -g root -o root -m 0755 debian/extra/daemon_example.ini debian/tmp/usr/lib/myblockchain/plugin/debug
	# add apparmor profile
	install -g root -o root -m 0644 -D debian/extra/apparmor-profile debian/tmp/etc/apparmor.d/usr.sbin.myblockchaind
	# add directory for legal docs
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-server
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-community-server
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-client
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-community-client
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-common
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/libmyblockchainclient20
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/libmyblockchainclient-dev
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/libmyblockchaind-dev
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-testsuite
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-community-test
	install -g root -o root -m 0755 -d debian/tmp/usr/share/doc/myblockchain-community-source
	# add COPYING file to each package
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-server/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-community-server/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-client/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-community-client/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-common/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/libmyblockchainclient20/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/libmyblockchainclient-dev/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/libmyblockchaind-dev/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-testsuite/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-community-test/COPYING
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/COPYING debian/tmp/usr/share/doc/myblockchain-community-source/COPYING
	# add README file to each package
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-server/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-community-server/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-client/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-community-client/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-common/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/libmyblockchainclient20/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/libmyblockchainclient-dev/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/libmyblockchaind-dev/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-testsuite/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-community-test/README
	install -g root -o root -m 0644 debian/tmp/usr/share/myblockchain/README debian/tmp/usr/share/doc/myblockchain-community-source/README
	touch $@

override_dh_installinit:
	@echo "RULES.$@"
	dh_apparmor -pmyblockchain-community-server --profile-name=usr.sbin.myblockchaind
	dh_installinit --name=myblockchain -- defaults 19 21
	touch $@
