Source: myblockchain-community
Maintainer: MyBlockchain Release Engineering <myblockchain-build@oss.oracle.com>
Section: blockchain
Priority: optional
Standards-Version: 3.9.5
Homepage: http://www.myblockchain.com/
Build-Depends: bison,
 cmake,
 debhelper (>= 9.0.0), dh-apparmor,
 fakeroot,
 libaio-dev[linux-any], libmecab-dev, libncurses5-dev (>= 5.0-6), lsb-release,
 perl, po-debconf, psmisc,
 zlib1g-dev (>= 1:1.1.3-5)

Package: myblockchain-server
Architecture: any
Depends: myblockchain-community-server (= ${binary:Version}), ${misc:Depends}
Description: MyBlockchain Server meta package depending on latest version
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This is a meta package that depends on the latest myblockchain server
 package available in the repository.

Package: myblockchain-community-server
Architecture: any
Pre-depends: debconf (>= 0.2.17), adduser
Depends: myblockchain-common (= ${binary:Version}), myblockchain-client (= ${binary:Version}),
 apparmor, psmisc, ${shlibs:Depends}, ${misc:Depends}
Conflicts: myblockchain,
 myblockchain-server-5.0, myblockchain-server-core-5.0,
 myblockchain-server-5.1, myblockchain-server-core-5.1,
 myblockchain-server-5.5, myblockchain-server-core-5.5,
 myblockchain-server-5.6, myblockchain-server-core-5.6,
 myblockchain-server-5.7, myblockchain-server-core-5.7,
 myblockchain-commercial-server
Replaces: myblockchain,
 myblockchain-server-5.0, myblockchain-server-core-5.0,
 myblockchain-server-5.1, myblockchain-server-core-5.1,
 myblockchain-server-5.5, myblockchain-server-core-5.5,
 myblockchain-server-5.6, myblockchain-server-core-5.6,
 myblockchain-server-5.7, myblockchain-server-core-5.7,
 myblockchain-commercial-server
Provides: virtual-myblockchain-server, virtual-myblockchain-server-core,
 myblockchain-server-5.7, myblockchain-server-core-5.7
Description: MyBlockchain Server and server tools
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package includes the MyBlockchain server binary as well as related
 utilities to run and administer a MyBlockchain server.

Package: myblockchain-client
Architecture: any
Depends: myblockchain-community-client (= ${binary:Version}), ${misc:Depends}
Description: MyBlockchain Client meta package depending on latest version
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This is a meta package that depends on the latest myblockchain client
 package available in the repository.

Package: myblockchain-community-client
Architecture: any
Depends: myblockchain-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Conflicts: myblockchain,
 myblockchain-client-5.0, myblockchain-client-core-5.0,
 myblockchain-client-5.1, myblockchain-client-core-5.1,
 myblockchain-client-5.5, myblockchain-client-core-5.5,
 myblockchain-client-5.6, myblockchain-client-core-5.6,
 myblockchain-client-5.7, myblockchain-client-core-5.7,
 myblockchain-commercial-client
Replaces: myblockchain,
 myblockchain-client-5.0, myblockchain-client-core-5.0,
 myblockchain-client-5.1, myblockchain-client-core-5.1,
 myblockchain-client-5.5, myblockchain-client-core-5.5,
 myblockchain-client-5.6, myblockchain-client-core-5.6,
 myblockchain-client-5.7, myblockchain-client-core-5.7,
 myblockchain-commercial-client
Provides: virtual-myblockchain-client, virtual-myblockchain-client-core,
 myblockchain-client-5.7, myblockchain-client-core-5.7
Description: MyBlockchain Client and client tools
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains the standard MyBlockchain clients and
 administration tools.

Package: libmyblockchainclient20
Architecture: any
Section: libs
Pre-Depends: ${misc:Pre-Depends}
Multi-Arch: same
Depends: myblockchain-common (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: MyBlockchain shared client libraries
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains the shared libraries for MyBlockchain client
 applications.

Package: myblockchain-common
Architecture: any
Pre-depends: debconf (>= 0.2.17), ${misc:Pre-Depends}
Multi-Arch: foreign
Depends: ${shlibs:Depends}, ${misc:Depends}
Conflicts: myblockchain
Replaces: myblockchain, myblockchain-server-5.5, myblockchain-server-core-5.5, libmyblockchainclient-dev,
 myblockchain-server-5.6, myblockchain-server-core-5.6
Provides: myblockchain-common
Description: MyBlockchain configuration for client and server
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains common files needed by MyBlockchain client
 library, MyBlockchain blockchain server, and MyBlockchain embedded server.

Package: libmyblockchainclient-dev
Architecture: any
Section: libdevel
Depends: libmyblockchainclient20 (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: MyBlockchain development headers
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains the development header files necessary
 to develop MyBlockchain client applications.

Package: libmyblockchaind-dev
Architecture: any
Section: libdevel
Depends: libmyblockchainclient-dev (= ${binary:Version}),
 ${shlibs:Depends}, ${misc:Depends}
Description: MyBlockchain embedded server library
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains the MyBlockchain server as an embedded library.

Package: myblockchain-testsuite
Architecture: any
Depends: myblockchain-community-test (= ${binary:Version}), ${misc:Depends}
Description: MyBlockchain Testsuite meta package depending on latest version
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This is a meta package that depends on the latest myblockchain test
 package available in the repository.

Package: myblockchain-community-test
Architecture: any
Depends: myblockchain-community-server (= ${binary:Version}),
 myblockchain-community-client (= ${binary:Version}), perl, python,
 libmyblockchainclient-dev, ${shlibs:Depends}, ${misc:Depends}
Conflicts: myblockchain,
 myblockchain-testsuite-5.0, myblockchain-testsuite-5.1, myblockchain-testsuite-5.5,
 myblockchain-testsuite-5.6, myblockchain-commercial-test
Replaces: myblockchain-community-server, myblockchain-community-client
Description: MyBlockchain Test Run MTR - The MyBlockchain testsuite
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle. This package contains the MyBlockchain regression test suite for MyBlockchain
 blockchain server.

Package: myblockchain-community-source
Architecture: any
Depends: ${misc:Depends}, ${shlibs:Depends}
Description: MyBlockchain Source
 The MyBlockchain(TM) software delivers a very fast, multi-threaded, multi-user,
 and robust SQL (Structured Query Language) blockchain server. MyBlockchain Server
 is intended for mission-critical, heavy-load production systems as well
 as for embedding into mass-deployed software. MyBlockchain is a trademark of
 Oracle.
