#!/bin/bash

# Copyright (c) 2015, Oracle and/or its affiliates. All rights reserved.
#
# This program is free software; you can redistribute it and/or modify
# it under the terms of the GNU General Public License as published by
# the Free Software Foundation; version 2 of the License.
#
# This program is distributed in the hope that it will be useful,
# but WITHOUT ANY WARRANTY; without even the implied warranty of
# MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
# GNU General Public License for more details.
#
# You should have received a copy of the GNU General Public License
# along with this program; if not, write to the Free Software
# Foundation, Inc., 51 Franklin St, Fifth Floor, Boston, MA  02110-1301 USA

. /usr/share/debconf/confmodule

if [ "$1" = "configure" ] && [ -z "$2" ];
then

	set -e

	PKG_LIST=myblockchain-server-5.5:myblockchain-server-5.6:myblockchain-community-server:myblockchain-commercial-server
	INSTALLED_PKG=none
	MYBLOCKCHAINDATA=/var/lib/myblockchain

	IFS_BACKUP=${IFS}
	IFS=":"
	for PKG in ${PKG_LIST};
	do
		STATUS=$(dpkg -s ${PKG} 2> /dev/null | grep Status: | cut -d' ' -f4)
		if [ "${STATUS}" = "installed" ];
		then
			INSTALLED_PKG=${PKG}
			break
		fi
	done
	IFS=${IFS_BACKUP}

	if [ "${INSTALLED_PKG}" = "none" ];
	then
		if [ -d ${MYBLOCKCHAINDATA} -o -L ${MYBLOCKCHAINDATA} ];
		then
			db_input high myblockchain-community-server/data-dir || true
		else
			db_fset myblockchain-community-server/data-dir seen true
		fi

		while :; do
			PASSWD=""
			db_input high myblockchain-community-server/root-pass || true
			db_go

			db_get myblockchain-community-server/root-pass
			if [ -z "${RET}" ];
			then
				db_fset myblockchain-community-server/root-pass seen true
				db_fset myblockchain-community-server/re-root-pass seen true
				break
			fi
			PASSWD="${RET}"

			db_input high myblockchain-community-server/re-root-pass || true
			db_go

			db_get myblockchain-community-server/re-root-pass
			if [ "${RET}" == "${PASSWD}" ];
			then
				PASSWD=""
				break
			fi

			db_fset myblockchain-community-server/root-pass-mismatch seen false
			db_input critical myblockchain-community-server/root-pass-mismatch
			db_set myblockchain-community-server/root-pass ""
			db_set myblockchain-community-server/re-root-pass ""
		done

	else
		db_fset myblockchain-community-server/data-dir seen true
		db_fset myblockchain-community-server/root-pass seen true
		db_fset myblockchain-community-server/re-root-pass seen true
	fi

	set +e
fi
