!include include/default_myblockchaind.cnf
!include include/default_ndbd.cnf

[cluster_config.1]
NoOfReplicas=                  2
ndbd=,,,
ndb_mgmd=
myblockchaind=,
ndbapi=,,,,,,,,,,,

[myblockchaind]
# Make all myblockchainds use cluster
ndbcluster
ndb-wait-connected=20
ndb-wait-setup=60
ndb-cluster-connection-pool=3
ndb-extra-logging=99
log-bin=myblockchain-binlog

[cluster_config.ndbd.1.1]
MaxNoOfExecutionThreads=8
# 1 + 2 + 4
__debug_mixology_level=7

[cluster_config.ndbd.2.1]
MaxNoOfExecutionThreads=8
# 1 + 2 + 4
__debug_mixology_level=7

[cluster_config.ndbd.3.1]
Nodegroup=65536

[cluster_config.ndbd.4.1]
Nodegroup=65536

[ENV]
NDB_CONNECTSTRING=             @myblockchain_cluster.1.ndb_connectstring
MASTER_MYPORT=                 @myblockchaind.1.1.port
MASTER_MYPORT1=                @myblockchaind.2.1.port

NDB_BACKUP_DIR=                @cluster_config.ndbd.1.1.BackupDataDir
unique=$unique
BLOB=$BLOB



